body {
    overflow-x: hidden;
}

.main-content {
    min-height: 120vh;
}

.index-left {
    background-color: $green;
    color: $white;
}
.index-right {
    .card-shadow {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20); 
    }
}
.footer-tabs {
    position: fixed;
    bottom: 0;
    .page {
        width: 100%;
        display: block;
        text-align: center;
        padding: 1.5rem 1rem;
        background-color: $gray-400;
        color: #fff;
        text-decoration: none;
        &:hover {
            background-color: $gray-500;
        }
        &.active {
            background-color: #000;
            font-weight: bold;
        }
        svg {
            margin-right: .25rem;
        }
    }
}