// ====== 客制範圍 SR ======
// 主色系變數
$main-color01: #1F81D7; //主色
$main-color02: #495057; //輔助色
$main-color03: #c3ca42; //輔助色
$main-color04: #FF3657; //強調色
$main-color05: #ffffff; //基色
$main-color06: #3d3d3d; //預備色

// 客制變數
$_custom-box-shadow:-10px 10px 20px 0px rgba(30, 30, 30, 0.05);
$_custom-border-radius: 5px;
$link-color:$main-color06;